/* Variables */

// Colors
$primary: #ccc;
$secondary: #aaa;
$white: #fff;
$white-trans: rgba(255,255,255,0.5);
$black: #000;

// Font Families
$futura: Futura, Arial, sans-serif;
$effra: "effra",sans-serif;

// Useful Measurements
$text-line-pad: 0.5em;
